<div class="row">
<h1>Proyectos Realizados</h1>
<div class="contenedor">
    <div class="col-sm-12 col-md-7- col-lg-7 texto">
        <h1>Proyecto1</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, rem ut placeat veniam, architecto nobis maiores voluptate ab quo culpa obcaecati vel hic ex explicabo, et dolores iure facere nesciunt!</p>
    </div>
      <div class="col-sm-12 col-md-3- col-lg-3 offset-md-1 offset-lg-1 imagen">
          <img src="../../../assets/LOGOPC.png" class="img-fluid img-logopc">
    </div>
</div>
</div>