<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div> 
    <div class="col-lg-11"> 
    <ul>
        <li>
            <h1>Estudio Uno</h1> - <h3>(Years)</h3>
        </li>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, assumenda reiciendis quia incidunt libero, cum aut amet officia veritatis doloremque, dolore a magni? Blanditiis, sint? Temporibus ipsa esse nam quae.</p>
    </ul>
    <ul>
        <li>
            <h1>Estudio Dos</h1> - <h3>(Years)</h3>
        </li>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, assumenda reiciendis quia incidunt libero, cum aut amet officia veritatis doloremque, dolore a magni? Blanditiis, sint? Temporibus ipsa esse nam quae.</p>
    </ul>
    <ul>
        <li>
            <h1>Estudio Tres</h1> - <h3>(Years)</h3>
        </li>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, assumenda reiciendis quia incidunt libero, cum aut amet officia veritatis doloremque, dolore a magni? Blanditiis, sint? Temporibus ipsa esse nam quae.</p>
    </ul>
    </div>
    </div>
    
