
<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="65"
  [imageSrc]="'../../../assets/HTMLLOGO.png'"
  [showImage]="true"
  [imageHeight]="60"
  [imageWidth]="85"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'#708090'"
  [titleFontSize]="'25'"
  [showSubtitle]="false"
  [outerStrokeWidth]="4"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#708090'"
  [innerStrokeColor]="'#DCDCDC'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="65"
  [showUnits]="false"
  [title]="'CSS'"
  [titleColor]="'#708090'"
  [titleFontSize]="'25'"
  [showSubtitle]="false"
  [outerStrokeWidth]="4"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#708090'"
  [innerStrokeColor]="'#DCDCDC'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="65"
  [showUnits]="false"
  [title]="'JAVASCRIPT'"
  [titleColor]="'#708090'"
  [titleFontSize]="'25'"
  [showSubtitle]="false"
  [outerStrokeWidth]="4"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#708090'"
  [innerStrokeColor]="'#DCDCDC'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="65"
  [showUnits]="false"
  [title]="'GITHUB'"
  [titleColor]="'#708090'"
  [titleFontSize]="'25'"
  [showSubtitle]="false"
  [outerStrokeWidth]="4"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#708090'"
  [innerStrokeColor]="'#DCDCDC'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="65"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'#708090'"
  [titleFontSize]="'25'"
  [showSubtitle]="false"
  [outerStrokeWidth]="4"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#708090'"
  [innerStrokeColor]="'#DCDCDC'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="65"
  [showUnits]="false"
  [title]="'INGLES'"
  [titleColor]="'#708090'"
  [titleFontSize]="'25'"
  [showSubtitle]="false"
  [outerStrokeWidth]="4"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#708090'"
  [innerStrokeColor]="'#DCDCDC'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="65"
  [showUnits]="false"
  [title]="'TRABAJO COLABORATIVO'"
  [titleColor]="'#708090'"
  [titleFontSize]="'25'"
  [showSubtitle]="false"
  [outerStrokeWidth]="4"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#708090'"
  [innerStrokeColor]="'#DCDCDC'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
</div>