<div class="row">
    <div class="container">
<div class="logo">
    <img src="../../../assets/APLOGO.png" id="APLOGO">  
</div>
<div class="redes">
    <div>
        <a href=""><img src="../../../assets/LINKEDINOGO.png" alt=""></a>
        <a href=""><img src="../../../assets/TWTLOGO.png" alt=""></a>
        <a href=""><img src="../../../assets/IGLOGO.png" alt=""></a>
        <a href=""><img src="../../../assets/GITLOGO.png" alt=""></a>
        <a href=""><img src="../../../assets/FBLOGO.png" alt=""></a>   
        <button type="button" class="btn btn-outline-light">LOG IN</button> 
        </div>
        
</div>
    </div>
</div>

